@import "../variables";
@import "../mixins";

.wrapper {
	position: relative;
}

.select {
	cursor: pointer;
	color: $primary-black;
	@include flex-between();
	background-color: $primary-white;
	padding: $spacing 3 * $spacing;
	width: $input-width;
	@include border-radius(5px);

	.placeholderText {
		opacity: 75%;
	}

	.sign {
		@include flex-center();
		align-self: center;
		height: 25px;
		width: 25px;
		background-color: $light-pink;
		@include border-radius(50%);
	}

	.span-minus {
		margin-bottom: 3px;
	}
	.span-plus {
		margin-bottom: 3px;
	}
	.span-x {
		margin-bottom: 5px;
	}
}

.options {
	position: absolute;
	width: calc($input-width + 6 * $spacing);
	background-color: $primary-white;
	color: $primary-black;
	margin-top: $spacing;
	@include border-radius(5px);

	.option {
		padding: $spacing;
		@include flex-start();

		input {
			cursor: pointer;
		}

		label {
			cursor: pointer;
		}

		.applyOpacity {
			opacity: 50%;
		}
	}
}

.hidden {
	display: none;
}
