$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$primary-white: rgba(255, 255, 255, 0.897);
$primary-black: black;
$spacing: 0.5rem;
$light-pink: rgba(235, 186, 195, 0.947);
$input-width: 270px;
